.derechos__parrafo{
    margin-bottom: 5px;
    text-align: center;
}


.text {
    margin: 10px;   
}


.enlaces {
    margin-top: 5rem;
    margin-bottom: 4rem;
    display: flex;
    justify-items: start;
    justify-content: space-evenly;
    list-style: none;
}