*{
    margin: 0;
    padding: 0;
    
}


ul li a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: 'Gentium Book Plus', serif;
}


h2 {
    font-family: 'Gentium Book Plus', serif;
}


h3 {
    font-family: 'Gentium Book Plus', serif;
}


p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


nav ul li {
    font-family: 'Gentium Book Plus', serif;
}


body {
    background-color: #e3e3e7;
}

